.formstyle {

    
    padding-block-start: 15px;
    vertical-align:middle;
    height: 100%;

}

.urlstyle {
    padding-left: 15px;
    vertical-align: middle;
    position: inherit;
}

.input-field {
    width: 70%; 
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }